body {
        background-color: #f2f8ffe8;
}

@font-face {
        font-family: "cleb";
        src: url(dancing_script/dancingscript-VariableFont_wght.ttf);
}

header {
        background-color:rgb(10, 47, 68);    
        color:white;
        text-align:center;
        padding:5px;	
}
    
nav {
        line-height:30px;
        background-color:#507ee2e8;
        height: 1000px;
        width:100px;
        float:left;
        padding: 3px;
}
    
section {         
        height: 30%;
        width: 30%;
        float:left;
}
    
footer {
        background-color:rgb(10, 47, 68);
        color:white;
        clear:both;
        text-align:center;
        padding:5px;
        width:310%;
}

#jgsindie {
        position: absolute;
        right: 15%;
        top: 77%;                 
}

.txtp {
        text-align: center;
        color: black;
        font-family: cleb;
        font-size: 155%;
        padding:3%;
            
}
      
#pp {
        font-size: 270%;   
        text-align: center;
        color: rgb(91, 148, 223);
        font-family: cleb;
}
    
.txtp2 {
        font-family: cleb;
        font-size: 250%; 
        color: rgb(91, 148, 223);        
        margin: 3%;
        text-align: center;
}

.exlist {
        font-family: cleb;
        font-size: 150%;
        margin: -4px;
        line-height: 215%;
        left: 0%;
} 

#listag {
        position: absolute;
        top: 17%;
        left: 50%;
}

#rec {
        color:rgb(8, 24, 34);
        font-size: 200%;
        font-family: cleb;
        float: left;
}

#lnk {
        font-size: 100%;
        text-align: center;
}

.reco { 
        position: absolute;
        left: 50%;
        top: 118%;
        
}

nav a {
        text-decoration: none;
        font-size: 1rem;
        color:rgb(14, 14, 15);
        padding: 3%;
}

nav p {
        padding: 3%;
}